.welcome-section {
  font-family: "Georgia", serif;
  background: #f3e9dd;
  color: #4b3f35;
  padding: 30px;
  border-radius: 15px;
  border-left: 6px solid #c89f6a;
  box-shadow: 0 3px 10px rgba(90, 70, 50, 0.15);
  text-align: center;
}

.welcome-section p {
  font-size: 24px;
  font-weight: bold;
  color: #6b4f38;
  margin-bottom: 20px;
}

.student-info {
  background: #fff7eb;
  padding: 20px;
  border-radius: 12px;
  border-left: 6px solid #c89f6a;
  display: inline-block;
  box-shadow: 0 3px 10px rgba(90, 70, 50, 0.15);
}

.student-info h2 {
  margin-bottom: 10px;
  color: #8c5c3c;
}

.student-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #4b3f35;
}
